<div id=<%='section_'+(i+1)%> class="section" onclick="<%='clicker('+(i+1)+')'%>">
    <img src="../images/dollar-sign-and-piles-of-coins.png" alt="home" class="logo">
    <span>الشؤون المالية</span>
    <img src="../images/arrow-point-to-right.png" alt="arrow" class="arrow">
</div>
<ul id=<%='element_'+(i+1)%> class="element">
    <div class="section_titre" >
        <div class="barLine">
            <img src="../images/fond-4.png" class="barr">
        </div>
        <p class="contenu">النفقات</p>
    </div>
    <li onclick="synchronize('finance','addSpent')">
        <div class="barLine">
            <img src="../images/fond-4.png">
        </div>
        <p class="contenu">تسجيل النفقات</p>
    </li>
    <li onclick="synchronize('finance','depense')">
        <div class="barLine">
            <img src="../images/fond-4.png">
        </div>
        <p class="contenu">جرد النفقات</p>
    </li>
    <div class="section_titre" >
        <div class="barLine">
            <img src="../images/fond-4.png" class="barr">
        </div>
        <p class="contenu">المداخيل</p>
    </div>
    <li onclick="synchronize('finance','addIncome')">
        <div class="barLine">
            <img src="../images/fond-4.png">
        </div>
        <p class="contenu">تسجيل المداخيل </p>
    </li>
    <li onclick="synchronize('finance','revenus')">
        <div class="barLine">
            <img src="../images/fond-4.png">
        </div>
        <p class="contenu">جرد المداخيل</p>
    </li>
    <div class="section_titre" >
        <div class="barLine">
            <img src="../images/fond-4.png" class="barr">
        </div>
        <p class="contenu">الأجور</p>
    </div>
    <li onclick="synchronize('finance','addSalair')">
        <div class="barLine">
            <img src="../images/fond-4.png">
        </div>
        <p class="contenu">تسجيل الأجور</p>
    </li>
    <li onclick="synchronize('finance','salair')">
        <div class="barLine">
            <img src="../images/fond-4.png">
        </div>
        <p class="contenu">جرد الأجور</p>
    </li>
    <li onclick="synchronize('finance','equivalence')">
        <div class="barLine">
            <img src="../images/fond-4.png">
        </div>
        <p class="contenu">الموازنة العامة</p>
    </li>


</ul>