<div id=<%='section_'+(i+1)%> class="section" onclick="<%='clicker('+(i+1)+')'%>">
    <img src="../images/good-employee.png" alt="home" class="logo">
    <span>المستخدمون</span>
    <img src="../images/arrow-point-to-right.png" alt="arrow" class="arrow">
</div>
<ul id=<%='element_'+(i+1)%> class="element">
    <li onclick="synchronize('personnel','add')">
        <div class="barLine">
            <img src="../images/fond-4.png">
        </div>
        <p class="contenu">إضافة مستخدم</p>
    </li>
    <li onclick="synchronize('personnel','list')">
        <div class="barLine">
            <img src="../images/fond-4.png">
        </div>
        <p class="contenu">قائمة المستخدمون</p>
    </li>
</ul>