<!DOCTYPE html>
<html>
<head>
    <title> Association Amal </title>
    <link rel='stylesheet prefetch' href='http://fonts.googleapis.com/css?family=Open+Sans'>
    <link rel="stylesheet" href="../stylesheets/login.css">
    <style>
        .login__form {
            position: absolute;
            top: 50%;
            left: 0;
            width: 100%;
            height: 50%;
            padding: 2.5rem 2.5rem;
            text-align: center;
        }
    </style>
</head>
<body>
<div class="cont">


    <div class="demo">
        <div class="login">
            <div class="login__check"></div>
            <div class="login__form">
                <form  id="form" method="post">
                    <div class="login__row">
                        <svg class="login__icon name svg-icon" viewBox="0 0 20 20">
                            <path d="M0,20 a10,8 0 0,1 20,0z M10,0 a4,4 0 0,1 0,8 a4,4 0 0,1 0,-8"/>
                        </svg>
                        <input type="text" id="login__inputname" class="login__input name" placeholder="إسم" name="login"/>
                    </div>
                    <div class="login__row">
                        <svg class="login__icon pass svg-icon" viewBox="0 0 20 20">
                            <path d="M0,20 20,20 20,8 0,8z M10,13 10,16z M4,8 a6,8 0 0,1 12,0"/>
                        </svg>
                        <input type="password" id="login__inputpass" class="login__input pass" placeholder="Password" name="password"/>
                    </div>
                    <button type="submit" class="login__submit">الدخول</button>
                </form>
            </div>
        </div>
    </div>


    <!--<script src='../javascripts/jquery.js'></script>-->
    <script src="../javascripts/login.js"></script>
</div>
</body>
</html>